* {
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
}

html {
	margin: 0px;
	padding: 0px;
}

/* Logo, menu items and showcase section */

body {
	margin: 0px;
	padding: 0px;
}

header {
	margin: 0px;
	background-image: url("img/showcase.jpeg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: 600px;
}

.menurow {
	height: auto;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff;
}

.logo {
	width: 20%;
	padding-left: 5%;
} 

header img {
	height: 3.5rem;
	float: left;
}

nav {
	width: 70%;
	float: right;
	height: 100%;
	text-align: right;
}

nav li {
	list-style: none;
	display: inline-block;
	margin: 0px 10px;
	padding-bottom: 5px;
	padding-right: 3px;
	padding-left: 3px;
}

nav a {
	text-decoration: none;
	color: black;
	text-transform: uppercase;
	font-size: 0.8rem;
	letter-spacing: 0.1rem;
}

nav li:hover {
	border-bottom: 0.5px solid #f44336;
}

nav a:hover {
	color: #f44336;
}

.showcase {
	padding-top: 150px;
	color: #ffffff;
}

.showcase h1 {
	font-size: 3.5rem;
	width: 75%;
	margin: 5%;
	line-height: 4rem;
	font-weight: 400;
	cursor: default;
}

.showcase p {
	font-size: 1.25rem;
	margin: 5%;
	cursor: default;
}

button.more  {
	margin: 0% 5%;
	padding: 15px;
	background: linear-gradient(rgba(255, 255, 255,0.4), rgba(255, 255, 255,0.5)), transparent;
	border: none;
	cursor: pointer;
}

button.more:hover {
	background: #f44336;
	color: #ffffff;
}

/* About Section */

#about {
	width: 90%;
	margin: 0px auto;
}

.sectionheader {
	padding: 50px;
	text-align: center;
}

.sectionheader h1 {
	font-size: 2rem;
	text-transform: uppercase;
	font-weight: 400;
}

.sectionheader p {
	font-style: italic;
}

.aboutcontainer {
	display: grid;
	width: 100%;
	grid-auto-rows: minmax(100px, auto);
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 15px;
	margin-bottom: 70px;
}

.aboutcontainer img {
	width: 100%;
	max-width: 10rem;
}

.aboutcontainer p {
	font-weight: 300;
}

.aboutbox {
	text-align: center;
}

.resp {
	grid-area: 1 / 1 / 2 / 2;
}

.tlr {
	grid-area: 1 / 2 / 2 / 3;
}

.des {
	grid-area: 1 / 3 / 2 / 4;
}

.sup{
	grid-area: 1 / 4 / 2 / 5;
}

/* Design Section */

#design {
	background-color: #f2f2f2;
	width: 100%;
	padding: 0% 5%;
	height: 500px;
}

/*.designcontainer {
	border: 5px black solid;
	width: 100%;
	float: left;
	position: relative;
	top: 0;
	height: 500px;
}*/

.information {
	width: 40%;
	height: 350px;
	display: inline-block;
	padding: 0% 5%;
	float: left;
	margin: 0;
    position: relative;
    top: 20%;
}

.information h2 {
	font-size: 2rem;
	font-weight: 400;
}

.information p {
	font-size: 1rem;
	font-weight: 300;

}

button.viewportfolio {
	padding: 15px;
	background: black;
	color: white;
	border: none;
	cursor: pointer;
}

button.viewportfolio:hover {
	background: #f44336;
	color: #ffffff;
}

.design-image {
	width: 60%;
	height: 300px;
	display: inline-block;
	position: relative;
    top: 17%;
    height: 350px;
    text-align: center;
}

.design-image img {
	width: 100%;
	max-width: 500px;
	min-width: 300px;
	padding: 0;
	border-radius: 10px;
	margin: 0;
}

/* Team Section */

#team {
	width: 90%;
	margin: 0px auto;
}

.teamcontainer {
	display: inline-grid;
	width: 100%;
	grid-auto-rows: 3fr;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-gap: 15px;
}

.teambox {
	display: grid;
	grid-template-rows: 2fr 2fr;
	grid-template-columns: 1fr;
}

.teambox h1, .teambox p {
	width: 100%;
}

#team .image {
	grid-area: 1 / 1 / 2 / 2; 
}

#team .infobox {
	grid-area: 2 / 1 / 3 / 2; 
	background-color: #f2f2f2;
	padding: 5%;
}

#team .infobox h3 {
}

#team .infobox h4 {
	font-weight: 400;
}

#team .infobox p {
	font-weight: 300;
	font-size: 0.8rem;
}

#team .ceo {
	background-image: url("img/ceo.png");
	background-position: center;
	background-size: cover;
}

#team .partner {
	background-image: url("img/partner.jpeg");
	background-position: center;
	background-size: cover;
}

#team .sales {
	background-image: url("img/sales.jpeg");
	background-position: center;
	background-size: cover;
}

#team .designer {
	background-image: url("img/designer.jpeg");
	background-position: center;
	background-size: cover;
}

button.contact {
	padding: 10px;
	background: black;
	width: 100%;
	color: white;
	border: none;
	cursor: pointer;
	position: relative;
	bottom: 0;
}

button.contact:hover {
	background: #f44336;
	color: #ffffff;
}

/* Statistics Section */

#statistics {
	background-color: #595959;
	text-align: center;
	margin: 70px 0 0px 0;
	width: 100%;
}

.numbers {
	display: inline-block;
	color: white;
	width: 20%;
	margin: 25px 0;
	transition: all .3s ease-in-out;
}

.numbers:hover {
	transform: scale(1.2);
	cursor: default;
	border-bottom: 0.5px solid white;
}

/* Portfolio Section */

#portfolio {
	padding: 0 5%;
	background-color: #ffffff;
	height: 1300px;
	width: 100%;
}

.portfoliocontainer {
	float: left;
	margin-bottom: 70px;
}

#portfolio .box {
	width: 33%;
	float: left;
	overflow: none;
	text-align: center;
	display: block;
	overflow: hidden;
	margin: auto;
}

.small-photo {
	max-width: 100%;
	min-width: 200px;
	height: auto;
	padding: 15px;
}

/* Contact Us Section*/

#contact-us {
	background-color: #f2f2f2;
	width: 100%;
	height: 550px;
}

.details{
	width: 50%;
	float: left;
	text-align: center;
}

.contact-detail img {
	height: 1rem;
	display: inline-block;
	margin-right: 1rem; 
}

.contact-detail p {
	display: inline-block;
}

fieldset {
	width: 40%;
	border: none;
	margin-top: -1.5rem;
}

[name="form"] {
	border: none;
	padding: 0.3rem 2rem;
	background-color: #d8d8d8;
	color: #999999;
	width: 100%;
}

fieldset input, textarea {
	display: block;
	margin: 10px;
}

[type="submit"] {
	padding: 10px;
	background: black;
	width: 100%;
	color: white;
	border: none;
	cursor: pointer;
	position: relative;
	bottom: 0;
}

[type="submit"]:hover {
	background: #f44336;
	color: #ffffff;
}

/* Footer */

footer {
	text-align: center;
	margin: 3rem;
	font-style: italic;
}

footer p {
	font-size: 0.7rem;
	margin-top: 2rem;
}

footer button {
	padding: 10px;
	background: black;
	width: 20%;
	color: white;
	border: none;
	cursor: pointer;
	position: relative;
	bottom: 0;
}

footer button:hover {
	background: #f44336;
	color: #ffffff;
}